# Entorno virtual
venv/

# Archivos Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.sqlite3
.env

# Archivos estáticos y media
/staticfiles/
/media/

# Sistema operativo
.DS_Store
Thumbs.db

/backups/
