
.category-actions {
  display: flex;
  gap: 0.5rem;
}

.category-actions button {
  width: 90px;
}


.btn-delete {
  background-color: #d9534f;
  color: white;
  border: none;
}

.btn-delete:hover {
  background-color: #c9302c;
}

